.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

.progress-background {
    height: 5px;
    width: 100%;
    border-radius: 0;
    background-color: #d3d3d3;
    margin-top: 5px;
    /*position: absolute;*/
    /*bottom: 0;*/
}

.progress {
    background-color: #277194a1;
    height: 100%;
    border-radius: 0;
}

.errors {
    text-align: left;
    position: relative;
}

.errors--close {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.errors-container {
    /*padding-top: 20px;*/
}

.error-name {
    font-weight: 600;
    font-size: 20px;
    padding-left: 0;
}

.ongoing-training-main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;

}

.right-pannel {
    width: 500px;
    height: 100%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.stat-count {
    font-weight: bold;
}

.sample-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.sample-container > * {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.control-buttons {
    display: flex;
    justify-content: center;
}

.control-buttons .button {
    border-radius: 20px;
}

.category-selector {
    margin: 25px;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.category-selector--categories {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*justify-content: center;*/
    flex-wrap: wrap;
}

.category-selector.inactive * {
    cursor: default;
}

.category-selector.inactive {
    opacity: 0.2;
}


.category-selector .button {
    padding-top: 5px;
}

.category-selector .button > span {
    padding-left: 5px;
    padding-right: 5px;
}

audio {
    outline: none;
}

.button.category {
    overflow: hidden;
    min-width: 100px;
}

.button {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    white-space: nowrap;
    min-width: 60px;
    border: 1px solid #03a9f4;
    margin: 5px;
    /*padding: 10px;*/
    cursor: pointer;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.stat {
    font-size: 13px;
    margin-left: 25px;
    margin-right: 25px;
}

.right-pannel-top {
    background-color: #f2f2f2;
    border-bottom: 1px solid #cccccc;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button:hover {
    background-color: rgba(211, 211, 211, 0.18);
}

.button.selected {
    background-color: rgba(144, 238, 144, 0.49);
}

button .keybind {
    margin: 10px auto auto;
    width: max-content;
    padding: 7px;
}

.keybind {
    font-family: arial, sans-serif;
    margin-top: 5px;
    color: grey;
    font-size: 9px;
    /*border: 1px solid lightgray;*/
    width: 13px;
    height: 13px;
    align-items: center;
    vertical-align: middle;
    /*border-radius: 3px;*/
    display: flex;
    justify-content: center;
    border-radius: 0;
}

.tabular-sample {
    text-align: left;
    display: flex;
    justify-content: center;
}

.tabular-sample tr td:nth-child(1) {
    white-space: nowrap;
}

.tabular-sample tr td:nth-child(2) {
    word-break: break-word;
}

.tabular-sample {
    max-height: 750px;
    overflow-y: auto;
}

.tabular-sample > table {
    width: 800px;
}

.tabular-sample > table > tr.odd {
    background-color: rgba(211, 211, 211, 0.38);
}

.tabular-sample--header {
    background-color: lightgrey;
}

.tabular-sample--key {
    text-align: left;
}

.tabular-sample--value {
    padding-left: 50px;
    text-align: right;
}

.image-sample img {
    min-height: 300px;
}

.canvas-wrapper {
    box-shadow: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.color-box {
    width: 30px;
    height: 100%;
    /*border: 3px solid;*/
    box-sizing: border-box;
    margin-right: 30px;
}

.label-config-row {
    height: 50px;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-config-row.active {
    background-color: rgba(143, 210, 255, 0.32);
}


.annotation {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.annotation.selected,
.annotation:hover {
    background-color: lightblue;
}


.annotation-thumb-container {
    height: 30px;
    width: 30px;
    margin-right: 30px;
}

.annotation-thumb-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas__button-wrapper button {
    min-width: 120px;
    margin-top: 10px;
    white-space: nowrap;

}

.canvas__button-wrapper button i {
    margin-right: 10px;
}

.canvas__button-wrapper {
    display: flex;
}

.category-selector textarea.comments {
    max-height: 200px;
    margin-top: 25px;
    width: 100%;
    border-radius: 4px;
    border: solid 1px #d1d1d1;
    outline: none;
}

.category-selector--image-object {
    display: flex;
    justify-content: space-around;
}

.category-selector__image-object-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.category-selector__annotations-wrapper {
    flex: 1;
    overflow: auto;
    position: relative;
}

.category-selector__annotations-wrapper > div {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

hr {
    margin-top: 20px;
}

.annotation select{
    width: 200px;height: 30px;
}

.al-enabled-widget span{
    margin-right: 5px;
}
.al-enabled-widget {
    cursor: default;
    border-radius: 4px;
    background-color: #BBBBBB;
    color: white;
    white-space: nowrap;
    top: 10px;
    padding: 2px 10px;
    font-weight: 300;
}

.al-enabled-widget.enabled {
    background-color: #2196f3;
}


/*-------------------TOOLTIP-------------------*/
.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: white;
    color: black;
    padding: 5px 10px 4px;
    border: 1px solid lightgrey;
    max-width: 1000px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: lightgrey;
    z-index: 1;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}

/*-------------------TOOLTIP-------------------*/


.halting-criterion-cell {
    white-space: nowrap;
    overflow: hidden;
    height: 10px;
}

.halting-criterion i {
    position: absolute;
}

.halting-criterion-pointer {
    font-size: 25px;
    position: absolute;
    transform: translateX(-50%) rotate(180deg);
}

.halting-criterion {
    display: flex;
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
}

.halting-criterion-overlay {
    background-color: white;
    opacity: 60%;
    position: absolute;

}
.popover{
    max-width: 1000px;
}
.halting-criterion span{
    position: absolute;
    color: grey;
}
.al-status-popover{
    width: 400px;
}