.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

.progress-background {
    height: 5px;
    width: 100%;
    border-radius: 0;
    background-color: var(--grey-lighten-7);
    position: absolute;
    left: 0;
    bottom: 0;
}

.progress {
    margin: 0;
    background-color: var(--grey-lighten-5);
    height: 100%;
    border-radius: 0;
    transition: width 0.5s;
}

.errors {
    text-align: left;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--white);
}

.errors-background {
    background-color: var(--grey-lighten-7);
    opacity: 0.8;
}

.errors-background, .errors-main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 998;
}

.errors--close {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.error-name {
    font-weight: 600;
    font-size: 20px;
    padding-left: 0;
    word-break: break-word
}

.ongoing-training-main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--grey-lighten-7);

}

.right-panel {
    width: 400px;
    height: 100%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.stat-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.stat-count {
    font-weight: bold;
}

.sample-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 50px 20px 20px;
}

canvas {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.sample-container .main-area-element {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.empty-annotations-placeholder p {
    width: 175px;
    color: var(--grey-lighten-3);
}

.empty-annotations-placeholder h2 {
    font-size: 22px;
}

.empty-annotations-placeholder {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skipped {
    color: #f9f9f9; /*No equivalent in variable list*/
    font-size: 117px;
}

.circle {
    background-color: #f9f9f9; /*No equivalent in variable list*/
    width: 95px;
    height: 95px;
    border-radius: 100%;
    border: 1px solid #DDDDDD;
    margin: auto;
}

.circles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 0;
}
.cat-example {
    background-image: url("../img/category@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.shortcut-example {
    background-image: url("../img/shortcut@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-selector {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.empty-annotations-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-selector--categories .empty-annotations-placeholder{
    top: 50%; transform: translateY(-50%)
}
.category-selector--categories {
    align-content: flex-start;
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}

.category-selector.inactive * {
    cursor: default;
}

.category-selector.inactive {
    opacity: 0.2;
}


.category-selector .button {
    padding-top: 5px;
}

.category-selector .button > span {
    padding-left: 5px;
    padding-right: 5px;
}

audio {
    outline: none;
    width: 600px;
}

.button.category {
    overflow: hidden;
    min-width: 100px;
    height: fit-content;
    padding-bottom: 10px;
}

.button {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    white-space: nowrap;
    min-width: 60px;
    border: 1px solid var(--grey-lighten-6);
    margin: 5px;
    cursor: pointer;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.stat {
    font-size: 13px;
    cursor: default;
}

.right-panel .section {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.right-panel-top .right-panel-button > i {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.right-panel-top .right-panel-button {
    min-height: 64px;
    min-width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    white-space: nowrap;
}

.button:hover {
    background-color: var(--grey-lighten-7);
}

.button.selected {
    background-color: var(--blue-lighten-4);
}

/*button .keybind {*/
/*    margin: 10px auto auto;*/
/*    width: max-content;*/
/*    padding: 7px;*/
/*}*/

.keybind i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keybind {
    position: relative;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    font-family: arial, sans-serif;
    color: var(--grey-lighten-3);
    background-color: var(--grey-lighten-7);
    border-radius: 2px;
    font-size: 13px;
    height: 19px;
    line-height: 19px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    min-width: 19px;
    padding: 0 3px;
    display: inline-block;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

.tabular-sample {
    text-align: left;
    display: flex;
    justify-content: center;
}

.tabular-sample tr td:nth-child(1) {
    white-space: nowrap;
}

.tabular-sample tr td:nth-child(2) {
    word-break: break-word;
}

.tabular-sample {
    max-height: 750px;
    overflow-y: auto;
}

.tabular-sample > table {
    width: 800px;
}

.tabular-sample > table > tr.odd {
    background-color: var(--grey-lighten-7);
}

.tabular-sample--header {
    background-color: var(--grey-lighten-7);
    padding-left: 15px;
    padding-right: 15px;
}

.tabular-sample--key {
    text-align: left;
}

.tabular-sample--value {
    padding-left: 50px;
    text-align: right;
}

/* Text labeling */
.labeling-window {

}

.textarea-wrapper {
    text-align: left;
    font-size: 20px;
    background-color: var(--white);
    flex: 1;
    display: flex;
    align-content: space-between;
    width: 50vw;
    min-height: 10vh;
    max-height: 85vh;
    box-shadow: 1px 1px 5px #ddd;
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.textarea {
    width: 100%;
    overflow: scroll;
    padding: 24px;
    line-height: 34px;
    white-space: pre-wrap;
}

.textarea .word {
    margin: 0 1px;
    display: inline-block;
}

.selection-wrapper {
    cursor: pointer;
    position: relative;
    color: inherit;
    margin: 0 0.15em;
    display: inline;
    padding: 0.25em 0.4em;
    line-height: 34px;
    border-radius: 5px;
    user-select: none;
}

.selected-caption {
    font-size: large;
    font-weight: bold;
    margin-left: 8px;
    text-transform: uppercase;
    vertical-align: middle;
}

.text-annotation-thumb {
    padding: 8px;
    cursor: help;
    border-radius: 5px;
}

mark.selected {
    box-shadow: inset 0 0 1px 3px rgba(0,0,0,0.2);

}

/* Text labeling :: End */

.image-sample {
    max-height: 800px;
    display: flex;
    object-fit: contain;
    height: 100%;
}

.canvas-wrapper {
    box-shadow: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.color-box {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid;
}

.right-panel-button .keybind {
    margin: 0;
}

.category-selector--header {
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.right-panel-button.category-button {
    padding: 10px 10px 15px;
}

.right-panel-button.category-button.active {
    background-color: var(--blue-lighten-5);
}

.category-button {
    position: relative;
    overflow: hidden;
    width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    cursor: pointer;
}

.right-panel-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid var(--grey-lighten-6);
    /*cursor: pointer;*/

}

.right-panel-button.active {
    background-color: var(--grey-lighten-7);
}


.annotation {
    height: 60px;
    padding: 24px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
}

.annotation i:hover {
    color: var(--error-red);
}

.annotation.selected,
.annotation:hover {
    background-color: var(--blue-lighten-5);
}


.annotation-thumb-container {
    height: 30px;
    width: 30px;
    margin-right: 30px;
}

.annotation-thumb-wrapper > .main {
    border-width: 2px;
    border-style: solid;
}

.annotation-thumb-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas__button-wrapper button {
    min-width: 120px;
    margin-top: 10px;
    white-space: nowrap;

}

.canvas__button-wrapper button i {
    margin-right: 10px;
}

.canvas__button-wrapper > button.active {
    background-color: var(--grey-lighten-7);
}

.canvas__button-wrapper > .tool-selector {
    margin-top: 10px;
    margin-right: 4px;
}

.canvas__button-wrapper {
    display: flex;
}

.category-selector textarea.comments {
    max-height: 200px;
    width: 100%;
    outline: none;
    border-radius: 0;
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: solid 2px var(--grey-lighten-7);
    padding: 0 15px 5px;
}

.category-selector--image-object {
    display: flex;
    justify-content: space-around;
}

.category-selector__image-object-wrapper {
    overflow: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.category-selector__image-object-wrapper .section {
    border-bottom: solid 2px var(--border-color);
}

.category-selector__annotations-wrapper {
    flex: 1;
    position: relative;
}

/*.category-selector__annotations-wrapper > div {*/
/*}*/

hr {
    margin-top: 20px;
}

.annotation select {
    width: 200px;
    height: 30px;
}

.al-enabled-widget span {
    margin-right: 5px;
}

.al-enabled-widget .status .icon {
    width: 14px;
    font-size: 20px;
}

.al-enabled-widget.enabled .status .icon {
    color: #2AA876;
}

.al-enabled-widget .status {
    font-weight: 600;
    display: flex;
    align-items: center;
}

.v-popover .trigger {
    width: 100%;
}

.al-enabled-widget {
    text-align: left;
    width: 100%;
    cursor: default;
    border-radius: 4px;
    background-color: var(--grey-lighten-7);
    color: var(--grey-lighten-3);
    white-space: nowrap;
    font-weight: 300;
    /*display: flex;*/
    /*align-items: center;*/
    padding: 5px 10px 5px;
}

/*-------------------TOOLTIP (START)-------------------*/
.tooltip {
    display: block;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    text-decoration: none;
    background: var(--white);
    color: var(--black);
    padding: 5px 10px 4px;
    border: 1px solid var(--grey-lighten-4);
    max-width: 1000px;
}
.tooltip .tooltip-inner p{
    margin: 0;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: var(--grey-lighten-5);
    z-index: 1;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip {
    border-radius: 0;
}

.tooltip .tooltip-inner {
    border-color: var(--grey-lighten-6);
    border-radius: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    color: var(--black);
}

.tooltip.popover .popover-arrow {
    border-color: var(--grey-lighten-4);
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}

/*-------------------TOOLTIP (END)-------------------*/


.halting-criterion-cell {
    white-space: nowrap;
    overflow: hidden;
    height: 10px;
}

.halting-criterion i {
    position: absolute;
}

.halting-criterion-pointer {
    color: var(--grey-lighten-3);
    font-size: 25px;
    position: absolute;
    transform: translateX(-50%) rotate(180deg);
}

.halting-criterion {
    display: flex;
    position: relative;
    padding-top: 20px;
    margin-bottom: 30px;
}

.halting-criterion-overlay {
    background-color: var(--white);
    opacity: 60%;
    position: absolute;
}

.tooltip.popover .popover-inner, .popover {
    max-width: 1000px;
    border: none;
    border-radius: 0;
}

.tooltip.popover {
    border: 1px solid var(--border-color);
}

.halting-criterion span {
    position: absolute;
    color: var(--grey-lighten-3);
}

.halting-criterion .v-popover, .halting-criterion .v-popover .trigger {
    width: 100%;
}

button:disabled {
    /*background-color: grey !important;*/
    opacity: 0.5;
}

button.adjacent-from-left,
button.adjacent-from-right {
    margin: 0;

}

button.adjacent-from-right {
    margin-right: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.skip-button {
    display: flex;
    justify-content: center;
}

button.adjacent-from-left {
    margin-left: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button {
    border-radius: 0;
    border: none;
}

button.active {
    background-color: var(--grey-lighten-7);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
    padding: 2px 10px;
    background-color: white;

    border: 2px solid var(--border-color);
    border-radius: 3px;

}

.errors-container pre {
    font-size: 10px;
}

* {
    text-decoration: none;
}

.loading {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    background-color: var(--grey-lighten-6);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(34, 34, 34, 0.4);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 7px;
}