<div ng-controller="detectRecipeController" ng-show="finishedLoading">

    <form class="dku-form-horizontal">
        
        <h2 class="settings-section-title">Query sampling strategy</h2>
        
        <div class="control-group">
                <style type="text/css" scoped>
                    .radio-tile {
                        border: 2px solid #dddddd;
                        cursor: pointer;
                        width: 200px;
                        position: relative;
                        padding: 15px;
                        text-align: center;
                        transition: 0.3s ease-in-out;
                        pointer-events: none;
                        height: 220px;
                    }
                    
                    input.radio-button:checked + .radio-tile {
                        background-color: #4564ff;
                        color: #ffffff;
                        border-color: #4564ff;
                        transform: scale(1.05, 1.05);
                    }

                    input.radio-button {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        margin: 0;
                        cursor: pointer;
                    }
                    
                    .button-container {
                        display: flex;
                        justify-content: space-evenly;
                        margin-top: 12px;
                        flex-shrink: 0;
                        justify-content: space-around;
                        width: 100%;
                    }
                    
                    .input-container {
                        position: relative;
                    }

                </style>
            
            <div class="button-container" ng-init="config.strategy=(config.strategy?config.strategy:'confidence')">
                <div class="input-container">
                    <input class="radio-button" type="radio" name="strategy" value="confidence" ng-model="config.strategy" />
                    <div class="radio-tile">
                        <i class="radio-icon icon-visual_prep_topn_recipe" style="font-size: 100px"></i>
                        <br />
                        <h4 class="model-box-title ng-binding">Smallest confidence</h4>
                        <p class="model-box-description ng-binding">
                        Selects the samples with the smallest predicted probability for top class.
                        </p>
                    </div>
                </div>
                <div class="input-container">
                    <input class="radio-button" type="radio" name="strategy" value="margin" ng-model="config.strategy" />
                    <div class="radio-tile">
                        <i class="radio-icon icon-machine_learning_clustering" style="font-size: 100px"></i>
                        <br />
                        <h4 class="model-box-title ng-binding">Smallest margin</h4>
                        <p class="model-box-description ng-binding">
                        Selects the samples with smallest difference between the predicted probability of the top two classes.
                        </p>
                    </div>
                </div>
                <div class="input-container">
                    <input class="radio-button" type="radio" name="strategy" value="entropy" ng-model="config.strategy" />
                    <div class="radio-tile">
                        <i class="radio-icon icon-machine_learning_regression" style="font-size: 100px"></i>
                        <br />
                        <h4 class="model-box-title ng-binding">Greatest entropy</h4>
                        <p class="model-box-description ng-binding">
                        Selects the samples with greatest predicted probability entropy.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
